<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Show</title>
</head>
<body>
    <a href="/">Go Back</a>
    <h1> TV show # {{show.id}}</h1>
    <h3>Title: {{show.title}}</h3>
    <h3>Network: {{show.network}}</h3>
    <h3>Release Date {{show.release_date}}</h3>
    <h3>Description {{show.description}}</h3>
    <h3>Last Updated {{show.updated_at}}</h3>
    <a href="{{show.id}}/edit">Edit</a> | <a href="{{show.id}}/delete">Delete</a>
</body>
</html>